

body {
  background: #f2f2f2;
  color: #2c3e50;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
}
a {
  color: #2c3e50;
  text-decoration: none;
}

nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav {
  padding: 40px;
  background: #ffd400;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}
nav a:hover {
  cursor: pointer;
  color: white;
  background: red;
 
}
nav a:active {
  color: white;
  background: red;
}

.not-found {
  text-align: center;
}

.not-found a {
  color: blue;
  text-decoration: underline;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}