

body {
  background: #f2f2f2;
  color: #2c3e50;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
}
a {
  color: #2c3e50;
  text-decoration: none;
}

.not-found {
  text-align: center;
}

.not-found a {
  color: blue;
  text-decoration: underline;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}