.title {
  color: #373f41;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #373f41;
}
.btn {
  display: block;
  width: 150px;
  padding: 14px 18px;
  margin: 20px auto;
  background: #fbc300;
  color: #373f41;
  text-align: center;
}
